html{
    min-height: 100%;
}
body{
    margin: 0;
}
header{
    top: 0;
    text-align: center;
    background-color: #09aa23;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}
header h1{
    margin: 0;
    padding: 1%;
    color: white;
}
main{
    padding: 2em;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: #f6fff7;
}
section{
    border: 2px solid #09aa23;
    margin: 3em;
    padding: 1em;
    background-color: white;
}
#cabeçalho{
    text-align: center;
}
#cabeçalho ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;  
}
#cabeçalho a:link{
    color: black;
    text-decoration: none;
}
#cabeçalho a:visited, footer a:visited{
    color: black;
    text-decoration: none;
}
#cabeçalho a:hover, a:active{
    color: #09aa23;
    text-decoration: none;
}
footer{
    text-align: center;
    background-color: #09aa23;
    color: white;
    margin-bottom: -2em;
    margin-top: -2em;
    padding: 1%;
}
footer h3{
    text-align: center;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;  
}
footer a:link{
    color: white;
    text-decoration: none;
}
footer a:visited, a:visited, a:link{
    color: white;
    text-decoration: none;
}
footer a:hover, a:active{
    color: #064e12;
    text-decoration: none;
}
#dicionário p, h2, h3{
    text-align: left;
}
#retornar-topo{
    background-color: #09aa2491;
    border-radius: 50%;
    position: fixed;
    bottom: 2em;
    right: 1em;
}
#retornar-topo h1 a{
    text-decoration: none;
    padding: 1em;
    color: white;
    text-align: center;
}
#indice{
    background-color: #09aa2491;
    color: white;
    position: sticky;
    top: 0;
    left: 7%;
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 10%;
}
#indice ul{
    list-style: none;
    padding: 0;
}
#indice ul li ul{
    display: none;
    list-style: none;
    
}
#indice:hover ul li ul{
    display: inline;
    margin: 3em;
    padding: 3em;
}
#indice ul li ul a:link, a:visited{
    color: white;
}
#indice ul li ul a:visited{
    color: white;
}
#indice ul li ul a:hover{
    color: #09aa23;
}
#indice ul li ul a:active{
    color: #077a1a;
}
a:link, a:visited{
    color: #09aa23;
    text-decoration: none;
}
a:hover{
    color: #077a1a;
}
a:active{
    color: #064e12;
    text-decoration: none;
}
/*editando as imagens*/
#dicionário{
    text-align: center;
}

.imgs{
    width: 15em;   
}